<div class="row bg-dark-subtle h-100 ">
    <div class="col-lg-4 ">
    
        <ul class="nav flex-column fw-bold">
            <li class="nav-item"><a routerLink="/lazy/dashboard" class="nav-link">Dashboard</a></li>
            <li class="nav-item"><a routerLink="/lazy/products" class="nav-link">Products</a></li>
            <li class="nav-item"><a routerLink="/lazy/addproduct" class="nav-link">Add_Product</a></li>
            <li class="nav-item"><a routerLink="/lazy/orders" class="nav-link">Orders</a></li>
         
            
        </ul>
    </div>
</div>



